/*-------------------DEFAULT SETUP--------------------------------------*/
/*----------------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}

html{
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}

/*-------------REUSABLE COMPONENT------------------------*/
/*--------------------------------------------------------*/
.row {
    max-width: 114rem;
    margin: 0 auto;
    position: relative;    
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 6rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 5rem;
}

.btn {
    text-decoration: none;
    font-size: 2rem;
    background-color: coral;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    margin: 0 0.5rem;
    display: inline-block;
    width: 19rem;
    text-align: center;
    transition: all 0.2s;
}

.btn:hover,
.btn:active {
    background-color: darkorange;
}


/*---------------------HEADER-------------------------------*/
/*---------------------------------------------------------*/

.heading-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,  rgba(45,95, 93, 0.85));
    background-attachment: fixed; 
    height: 100vh;
    padding: 1rem 5rem;
}
.heading-main-nav {
    list-style: none;
}

.heading-main-nav li {
    display: inline-block;
    margin-right: 3rem;
}

.heading-main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    padding-bottom: 0.3rem;
    transition: border-bottom 0.2s;
}

.heading-main-nav li a:hover,
.heading-main-nav li a:active {
   border-bottom:  2px solid #ccc;
}

.heading-box {
    position: absolute;
    left: 50%;
    transform: translate(-45%, 10%);
    width: 114rem;
}



