*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}

html{
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,  rgba(45,95, 93, 0.85));
    background-attachment: fixed; 
    height: 100vh;
    padding: 1rem 5rem;
}
.header-main-nav {
    list-style: none;
}

.header-main-nav li {
    display: inline-block;
    margin-right: 3rem;
}

.header-main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    padding-bottom: 0.3rem;
    transition: border-bottom 0.2s;
}

.header-main-nav li a:hover,
.header-main-nav li a:active {
   border-bottom:  2px solid #ccc;
}

.row {
    width: 114rem;
    margin: 0 auto;
}